{% extends 'dashboard.html'%}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Diagram Pierścieniowy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }

        canvas {
            display: block;
            margin: 20px auto;
        }

        h2 {
            margin: 10px 0;
        }
    </style>
</head>
<body>

    <canvas id="donutChart" width="300" height="300"></canvas>

    <script>
        const canvas = document.getElementById('donutChart');
        const ctx = canvas.getContext('2d');

        // Gotowe dane do wykresu
        const data = [
            { label: 'HTML', value: 30, color: '#2bd683' },
            { label: 'CSS', value: 20, color: '#cf2929' },
            { label: 'JavaScript', value: 40, color: '#3863d9' },
            { label: 'Python', value: 10, color: '#e8da1a' }
        ];

        // Funkcja rysująca pierścieniowy diagram kołowy
        function drawDonutChart(data) {
            const centerX = canvas.width / 2;
            const centerY = canvas.height / 2;
            const radius = 100;
            const innerRadius = 80; // Dziura w środku
            let startAngle = 0;

            data.forEach((segment) => {
                const sliceAngle = (segment.value / 100) * 2 * Math.PI;

                // Rysowanie segmentu pierścienia

                ctx.beginPath();
                ctx.arc(centerX, centerY, radius, startAngle, startAngle + sliceAngle);
                ctx.lineTo(centerX, centerY);
                ctx.fillStyle = segment.color;
                ctx.fill();

                startAngle += sliceAngle;
            });

            ctx.save();
            ctx.globalCompositeOperation = 'source-atop';
            ctx.shadowColor = 'rgba(0, 0, 0, 0.7)';
            ctx.shadowBlur = 8;
            ctx.shadowOffsetX = 0;
            ctx.shadowOffsetY = 0;
            ctx.beginPath();
            ctx.arc(centerX, centerY, innerRadius, 0,3 * Math.PI);
            ctx.fill();
            ctx.restore();

            // Rysowanie dziury w środku bez wypełnienia (przezroczysta)
            ctx.beginPath();
            ctx.arc(centerX, centerY, innerRadius, 0, 2 * Math.PI);
            ctx.globalCompositeOperation = 'destination-out';
            ctx.fill();
            ctx.globalCompositeOperation = 'source-over';

            // Środkowy tekst w pierścieniu
            ctx.fillStyle = '#000';
            ctx.font = 'bold 25px Arial';
            ctx.textAlign = 'center';
            ctx.fillText('$5436,23', centerX, centerY);
        }

        // Rysowanie wykresu pierścieniowego
        drawDonutChart(data);
    </script>
</body>

{% endblock %}